/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÕES GERAIS */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

/* HEADER */  
header {
    background-color: #2c7a7b;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.4rem;
    font-weight: normal;
}

/* NAVEGAÇÃO */
nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #225e5f;
}

/* CONTEÚDO PRINCIPAL */
main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

/* SEÇÕES */
section {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
}

/* TÍTULOS */
h2 {
    color: #2c7a7b;
    margin-bottom: 15px;
}

h3 {
    margin-top: 20px;
    color: #225e5f;
}

/* PARÁGRAFOS */
p {
    margin-bottom: 15px;
    text-align: justify;
}

/* LISTAS */
ul, ol {
    margin-left: 25px;
    margin-bottom: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #cccccc;
    padding: 12px;
    text-align: left;
}

thead th {
    background-color: #2c7a7b;
    color: #ffffff;
}

.grade{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    
    gap: 15px;
    margin-top: 20px; 
}

.grade img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 5px 15px;
}


/* LINKS */
a {
    color: #2c7a7b;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #1f4f50;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
}

footer h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-align: center;
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    table, thead, tbody, th, td, tr {
        font-size: 0.9rem;
    }

    .grade {
    grid-template-columns: repeat(2, 1fr); /* 2 por linha no tablet */
    }
}

@media (max-width: 480px) {
    .grade {
        grid-template-columns: 1fr; /* 1 por linha */
    }
}